.parent-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 50, 160, 0.9), rgba(191, 13, 62, 0.9));
  
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 1;
}

.text-container {
  position: absolute;
  bottom: 0;
  height: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 2;
}
h1 {
  margin-bottom: 1px;
}

h3 {
  margin-top: 5px;
  color: #cccccc;
}

.center-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%; /* Adjust as needed */
  left: 0;
  right: 0;
  z-index: 3;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px; /* Adjust spacing between icons */
  color: white; /* Set icon color */
}

.icon:hover {
  color: #ffca3a; /* Change color on hover */
}