.parent-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 50, 160, 0.9), rgba(191, 13, 62, 0.9));
  
}

.header-container {
 position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: rgba(0, 50, 160, 0.9);
  padding: 20px 20px 20px; /* Adjusted padding */
  border-radius: 15px; /* Rounded border */
  margin: 20px auto;
  gap: 10px;
  z-index: 2;
}
/* Style for individual icons */
.icon {
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for color change */
  margin: 20px px 0px 0px; /* Add margin between icons for spacing */
}

/* Hover effect */
.icon:hover {
  color: #ffcc00; /* Yellow color on hover */
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-container {
  position: absolute;
  bottom: 3%;
  height: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 3;
}
h1 {
  margin-bottom: 1px;
}

h3 {
  margin-top: 5px;
  color: #cccccc;
}


